#!/bin/bash

# written: 20130312
# last updated: 20130508
# CHANGELOG
  # 20130508
    # edited to include cog dataset and MultimodalWM

# e-mails all output
#MAILTO=djsimmonds+cron@gmail.com

# copies data and runs processing scripts and copies data over to skynet
0 0 * * * /home/simmondsdj/cron/cronEAOC
0 1 * * * /home/simmondsdj/cron/cronMM
0 2 * * * /home/simmondsdj/cron/cronCOG

# weekly summary
#0 0 * * 1 weeklySummary
